openai>=1.51.2
azure-ai-documentintelligence==1.0.0b4
azure-identity==1.19.0 
azure-search-documents==11.6.0b9
azure-storage-blob==12.23.1
gradio==4.43.0
azure-cosmos==4.7.0
llama-parse==0.4.9
llama-index-core>=0.10.65
azure-monitor-ingestion==1.0.4
azure-monitor-opentelemetry-exporter==1.0.0b27
azure-keyvault-secrets==4.7.0
azure-storage-file-datalake==12.17.0
azure-storage-blob==12.23.1
langgraph-supervisor==0.0.9
langchain-openai==0.3.8
langgraph==0.3.9
langgraph-checkpoint-cosmosdb==0.2.3
langchain-sqlserver==0.1.1
langgraph-checkpoint-postgres==2.0.18
psycopg2==2.9.10
psycopg==3.2.6
azure-mgmt-postgresqlflexibleservers==1.0.0
chainlit==2.4.1